# Virtual Environment
venv/
env/


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Uploads (user data)
static/uploads/*
!static/uploads/.gitkeep

# Database
*.sql
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Logs
*.log
